# ==== Servidor (FastAPI) ====
fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pydantic==2.9.2
pydantic-settings==2.5.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
alembic==1.13.2

# ==== Agente (Windows) ====
psutil==6.0.0
requests==2.32.3
pywin32==311; sys_platform == "win32"

# ==== Dashboard (PySide6) ====
PySide6==6.8.0.2
